.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quantity-control button {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}